body {
  background-color: #61bbc7;
  font-family: Verdana, Arial, sans-serif;
  color: #1d41e8;
}

h1 {
  color: #e36d87;
}

#resultado{
  padding: 10px;
  border: 20px solid #daa5e7;
}
#resultado:before{
  content: "El resultado irá aquí: \a";
  display: block;
  padding-bottom: 5px;
}
