body {
  background-color: #80caff;
  font-family: Verdana, Arial, sans-serif;}
  color: #122165;
}

h1 {
  color: #8e0f2b;
}

#resultado{
  padding: 10px;
  border: 20px solid goldenrod;
}
#resultado:before{
  content: "El resultado irá aquí: \a";
  display: block;
  padding-bottom: 5px;
}
